h1, h2, h3, h4, h5,h6
{
  margin:30px 60px;
  font-family: 'Lora', 'Georgia', serif;
  padding: 30px;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  box-shadow: #777 5px 5px 10px;
  -moz-box-shadow: #777 5px 5px 10px;
  -webkit-box-shadow: #777 5px 5px 10px;
   background-color: #dfd;
  font-size:30px;
  text-align:left;
}

p 
{ 
  margin:30px 60px;
  font-family: 'Lora', 'Georgia', serif;
  padding: 30px;

  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  box-shadow: #777 5px 5px 10px;
  -moz-box-shadow: #777 5px 5px 10px;
  -webkit-box-shadow: #777 5px 5px 10px;
   background-color: #dfd;
  font-size:30px;
  text-align:left;
}
